@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Quicksand:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

* body {
  /* Resolucion 360px- Mobile*/
  /*-------------------Resolucion 1024- Desktop-------------------*/
  /* Resolucion 360px- Mobile*/
  /*-------------------Resolucion 1024- Desktop-------------------*/
  /*-------------------Resolucion 360px- Mobile-------------------*/
  /*-------------------Resolucion 1024- Desktop-------------------*/
  /* Resolucion 360px- Mobile*/
  /*Resolucion 768- Mobile*/
  /*-------------------Resolucion 1024- Desktop-------------------*/
}

* body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

* body header a .img {
  width: 128px;
  height: 113.7px;
  margin: 32px 32px 0px 32px;
}

* body header .navbar-dark .navbar-toggler-icon {
  background-image: url(../imagenes/menu.png);
  width: 32px;
  height: 32px;
}

* body header .navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

* body header .collapsed .show {
  border-color: black;
}

* body header .bg-dark {
  background-color: #ffffff !important;
}

* body header .bg-dark p {
  border-bottom: 1px solid black;
  padding: 16px;
  margin-bottom: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

* body header .navHorizontal .lista {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 52.9px;
  margin-top: 62px;
}

* body header .navHorizontal .lista .desktop {
  display: none;
}

* body header .navHorizontal .lista li {
  -ms-grid-column-align: center;
      justify-self: center;
}

* body header .navHorizontal .lista li a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  text-decoration: none;
}

@media (min-width: 1024px) {
  * body header .navHorizontal .lista .desktop {
    display: inline-block;
  }
}

* body .container .row {
  margin: 0px;
}

* body .container .carousel-control-prev, * body .container .carousel-control-next {
  display: none;
}

* body .container .imgCar {
  height: 300px;
}

* body .envios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px;
}

* body .envios img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 32px;
  height: 32px;
  margin: 16px;
}

* body .envios p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

* body .fondoL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f0a1;
  /*border-radius: 100%;*/
  padding: 32px;
}

* body .fondoL .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: 'Baskervville', serif;
  font-size: 36px;
  font-weight: 400;
  margin: 0px;
}

* body .fondoL .titleD {
  display: none;
}

* body .fondoL .tarjB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin: 32px 0px 32px 0px;
}

* body .fondoL .tarjB .circB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #ffffff;
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
}

* body .fondoL .tarjB .circB img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  width: 60%;
}

* body .fondoL .tarjB .textoTarj {
  font-family: "Quicksand", sans-serif;
  font-size: 14;
  text-align: center;
  margin: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* body .fondoL .tarjB .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 160px;
  height: 48px;
  -webkit-transition: none;
  transition: none;
}

* body .fondoL .tarjB .btn-primary {
  background-color: #671e75;
  border-color: #671e75;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

* body .fondoL .tarjB .btn-primary:hover {
  border-color: #671e75;
}

@media (min-width: 992px) {
  * body .container {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  * body .container {
    max-width: 850px;
  }
  * body .envios img {
    width: 72px;
    height: 72px;
  }
  * body .envios p {
    font-size: 16px;
  }
  * body .fondoL .title {
    display: none;
  }
  * body .fondoL .titleD {
    display: contents;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    font-family: 'Baskervville', serif;
    font-size: 48px;
    font-weight: 500;
    margin: 32px;
  }
  * body .fondoL .tarjD {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    justify-items: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding: 64px;
  }
  * body .prevFoot .seguinos {
    display: none;
  }
  * body .prevFoot .yemi {
    font-size: 20px;
  }
  * body .prevFoot .seguinosD {
    display: contents;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 32px;
    font-family: 'Baskervville', serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
  }
  * body .prevFoot .cuidado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    justify-items: center;
    margin-top: 32px;
  }
  * body .prevFoot .cuidado .imgs {
    width: 260px;
  }
  * body .prevFoot .cuidado .imgD {
    display: contents;
  }
  * body .prevFoot .cuidado .imgD img {
    width: 260px;
  }
}

* body .navM .lista li .activado {
  color: #671E75;
  border-bottom: 1px solid #671E75;
  padding-bottom: 0.5rem;
}

* body .cajaProductos .accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

* body .cajaProductos .accordion-item .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  background: rgba(242, 240, 161, 0.5);
  color: black;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

* body .cajaProductos .accordion-item .accordion-button span {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #000000;
}

* body .cajaProductos .accordion-item .show hr {
  margin: 0;
}

* body .cajaProductos .accordion-item .show .accordion-body span {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.001em;
  color: #000000;
}

* body .navM .lista li .activado {
  color: #671E75;
  border-bottom: 1px solid #671E75;
  padding-bottom: 0.5rem;
}

* body .cajaPreguntasFrecuentes .accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

* body .cajaPreguntasFrecuentes .accordion-item .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  background: rgba(242, 240, 161, 0.5);
  color: black;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

* body .cajaPreguntasFrecuentes .accordion-item .accordion-button span {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #000000;
}

* body .cajaPreguntasFrecuentes .accordion-item .show .accordion-body {
  margin: 0 5px;
}

* body .cajaPreguntasFrecuentes .accordion-item .show .accordion-body span, * body .cajaPreguntasFrecuentes .accordion-item .show .accordion-body ol li {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #000000;
}

@media (min-width: 1024px) {
  * body .cajaPreguntasFrecuentes {
    margin: 100.9px 100px 160px 100px;
  }
}

* body .cajaSeguinos .prevFoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .cajaSeguinos .prevFoot .seguinos {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 32px 0px 16px 0px;
  font-family: 'Baskervville', serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

* body .cajaSeguinos .prevFoot .seguinosD {
  display: none;
}

* body .cajaSeguinos .prevFoot .ig {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

* body .cajaSeguinos .prevFoot .cuidado {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  margin-bottom: 64px;
}

* body .cajaSeguinos .prevFoot .cuidado .imgs {
  width: 160px;
}

* body .cajaSeguinos .prevFoot .cuidado .imgD {
  display: none;
}

* body .cajaSeguinos .desktop {
  display: none;
}

* body .footerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

* body .footerB .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 128px;
  height: 113.7px;
  margin-bottom: 16px;
}

* body .footerB .yemi {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

* body .footerV {
  background-color: #c6a1cf;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
}

* body .footerV .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.43rem;
}

* body .footerV .texto ul {
  list-style-type: none;
  padding: 1.1rem;
  margin: 0rem;
}

* body .footerV .texto ul ol {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  padding: 8px;
  font-weight: 600;
}

* body .footerV .texto ul a {
  color: #000000;
  text-decoration: none;
}

* body .footerV .texto ul a li {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  padding: 8px;
}

* body .footerV .texto ul a .imgFoot {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

@media (min-width: 768px) {
  * body .footerV {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  * body .footerV .texto ul ol {
    font-size: 16px;
  }
  * body .footerV .texto ul a li {
    font-size: 16px;
  }
}

* body header {
  /*WhatsAppBtn*/
}

* body header .float {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

* body header .float .my-float {
  width: 20px;
  height: 20px;
  margin: 0px 0px 13px 2px;
}
/*# sourceMappingURL=estilo.css.map */