.navM .lista li .activado {
  color: #671E75;
  border-bottom: 1px solid #671E75;
  padding-bottom: 0.5rem;
}

.cadaProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cadaProducto .cajaImgProducto {
  background: rgba(242, 240, 161, 0.5);
  width: 294px;
  height: 294px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 52px;
}

.cadaProducto .cajaImgProducto .imgCadaProducto {
  width: 60px;
}

.cadaProducto .cajaImgProducto img {
  width: 120px;
  height: auto;
}

.cadaProducto .cajaImgProducto .imgGrandes {
  width: 60px;
}

.cadaProducto .cajaDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cadaProducto .cajaDerecha .tituloProducto {
  font-family: 'Baskerville Old Face';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.0015em;
  margin-top: 9px;
}

.cadaProducto .cajaDerecha .descripcionProducto {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.001em;
  width: 246px;
  margin-top: 8px;
  text-align: justify;
}

.cadaProducto .cajaDerecha .precioProducto {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.0125em;
}

.cadaProducto .cajaDerecha .btnComprar {
  background: #671E75;
  -webkit-box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 294px;
  height: 48px;
  border: none;
  margin-top: 32px;
}

.cadaProducto .cajaDerecha .btnComprar a {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #FFFFFF;
  text-decoration: none;
}

.cadaProducto .cajaIngredientes {
  margin-top: 64px;
  width: 294px;
}

.cadaProducto .cajaIngredientes h3 {
  font-family: 'Baskerville Old Face';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.0015em;
  text-align: center;
}

.cadaProducto .cajaIngredientes ul {
  margin-top: 32px;
}

.cadaProducto .cajaIngredientes ul li {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.005em;
  color: #383838;
}

.cadaProducto .cajaComoUsarlo, .cadaProducto .cajaBeneficios {
  margin-top: 32px;
  width: 294px;
}

.cadaProducto .cajaComoUsarlo h4, .cadaProducto .cajaComoUsarlo h5, .cadaProducto .cajaBeneficios h4, .cadaProducto .cajaBeneficios h5 {
  font-family: 'Baskerville Old Face';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.0015em;
  text-align: center;
}

.cadaProducto .cajaComoUsarlo ol, .cadaProducto .cajaComoUsarlo ul, .cadaProducto .cajaBeneficios ol, .cadaProducto .cajaBeneficios ul {
  margin-top: 32px;
}

.cadaProducto .cajaComoUsarlo ol li, .cadaProducto .cajaComoUsarlo ul li, .cadaProducto .cajaBeneficios ol li, .cadaProducto .cajaBeneficios ul li {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.001em;
  color: #383838;
}

.cadaProducto .cajaComoUsarlo ul, .cadaProducto .cajaBeneficios ul {
  margin-bottom: 94px;
}

@media (min-width: 1024px) {
  .cadaProducto {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cadaProducto .cajaImgProducto {
    width: 450px;
    height: 450px;
  }
  .cadaProducto .cajaImgProducto img {
    width: 200px;
  }
  .cadaProducto .cajaImgProducto .imgGrandes {
    width: 90px;
  }
  .cadaProducto .cajaDerecha {
    width: 40%;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cadaProducto .cajaDerecha .tituloProducto {
    text-align-last: left;
  }
  .cadaProducto .cajaDerecha .descripcionProducto {
    width: 100%;
  }
  .cadaProducto .cajaInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cadaProducto .cajaInfo .cajaIngredientes {
    margin-top: 32px;
  }
  .cadaProducto .cajaInfo .cajaIngredientes h3 {
    font-size: 48px;
    line-height: 48px;
  }
  .cadaProducto .cajaInfo .cajaIngredientes ul li {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.005em;
  }
  .cadaProducto .cajaInfo .cajaComoUsarlo h4, .cadaProducto .cajaInfo .cajaComoUsarlo h5, .cadaProducto .cajaInfo .cajaBeneficios h4, .cadaProducto .cajaInfo .cajaBeneficios h5 {
    font-size: 48px;
    line-height: 48px;
  }
  .cadaProducto .cajaInfo .cajaComoUsarlo ol li, .cadaProducto .cajaInfo .cajaComoUsarlo ul li, .cadaProducto .cajaInfo .cajaBeneficios ol li, .cadaProducto .cajaInfo .cajaBeneficios ul li {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.005em;
  }
  .cadaProducto .cajaInfo .desktop {
    margin: 0 200px;
  }
}
/*# sourceMappingURL=plantillaProductos.css.map */