/* Resolucion 360px- Mobile*/
header{
    display: flex;
    flex-direction: column;

    a{
        align-self: center;
        text-decoration: none;

        .img{
            width: 128px;
            height: 113.7px;          
            margin: 32px 32px 0px 32px;
        }

    }

    .navbar-dark .navbar-toggler-icon {
        background-image:url(../imagenes/menu.png);
        width: 32px;
        height: 32px;
    }
    
    .navbar-dark .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }

    .collapsed .show{
        border-color: black;
    }

    .bg-dark {
        background-color: #ffffff!important;

        p{
            border-bottom: 1px solid rgb(0, 0, 0);
            padding: 16px;
            margin-bottom: 0px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
        }
    }
    
    .navHorizontal{

        .lista{
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 52.9px;
            margin-top: 62px;

                .desktop{
                    display: none;
                }
    
                li{
                    justify-self: center;
    
                    a {
                        align-self: center;
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                    }

                }
            }
    }
    
}

/*-------------------Resolucion 1024- Desktop-------------------*/

@media (min-width: 1024px){
    header {
        .navHorizontal {
            .lista {
                .desktop {
                    display: inline-block;
                }
            }
        }
    }
}