/* Resolucion 360px- Mobile*/

.container{
        .row{
            margin: 0px;
        }
        
        .carousel-control-prev, .carousel-control-next  {
            display: none;
        }

        .imgCar{
            height: 300px;
        }
}

.envios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px;

    img{
        align-self: center;
        width: 32px;
        height: 32px;
        margin: 16px;
    }

    p{
        align-self: center;
        font-family: $fuente1;
        font-size: 14px;
    }
}

.fondoL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f0a1;
    /*border-radius: 100%;*/
    padding: 32px;

    .title{
        align-self: center;
        text-align: center;
        font-family:'Baskervville', serif;
        font-size: 36px;
        font-weight: 400;
        margin: 0px;
    }

    .titleD{
        display: none;
    }

    .tarjB{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin: 32px 0px 32px 0px;
        
        .circB{
            display: flex;
            justify-content: center;
            align-self: center;
            background-color: #ffffff;
            border-radius: 100%;
            width: 20rem;
            height: 20rem;
            //padding: 100px;
    
            img{
                align-self: center;
                padding: 20px;
                width: 60%;
            }  
        }
    
        .textoTarj{
            font-family: $fuente1;
            font-size: 14;
            text-align: center;
            margin: 16px;
            align-self: center;
        }
    
        .btn{
            align-self: center;
            width: 160px; 
            height: 48px;
            transition: none; 
        }    
    
        .btn-primary{
            background-color: #671e75;
            border-color: #671e75;
            font-family: $fuente1;
            font-size: 14px;       
        }
    
        .btn-primary:hover{
                border-color: #671e75;
            }
    }  
}

.prevFoot{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .seguinos{
        align-self: center;
        margin: 32px 0px 16px 0px;  
        font-family:'Baskervville', serif;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
    }

    .seguinosD{
        display: none;
    }

    .ig{
        align-self: center; 
        font-family: 'Quicksand', sans-serif; 
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
        
    }

    .cuidado{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        margin-bottom: 64px;

        .imgs{
            width: 160px;
        }

        .imgD{
            display: none;
        }
    }
    
}

/*-------------------Resolucion 1024- Desktop-------------------*/
@media (min-width: 992px){
    .container {
        max-width: 700px;
    }
}

@media (min-width: 1024px){
    .container{
        max-width: 850px;
    }

    .envios{
        img{
            width: 72px;
            height: 72px;
        }

        p{
            font-size: 16px;
        }
    }

    .fondoL{
        .title{
            display: none;
        }

        .titleD{
            display: contents;
            display: flex;
            align-self: center;
            font-family:'Baskervville', serif;
            font-size: 48px;
            font-weight: 500;
            margin: 32px;
        }

        .tarjD{
            display: grid;
            justify-content: space-evenly;
            justify-items:center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            padding: 64px;
        }
    }

    .prevFoot{
        .seguinos{
            display: none;
        }

        .yemi{
            font-size: 20px;
        }

        .seguinosD{
            display: contents;
            display: flex;
            justify-content: center;
            margin-top: 32px;
            font-family:'Baskervville', serif;
            font-size: 48px;
            font-weight: 400;
            text-align: center;
        }

        .cuidado{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            justify-items: center ;
            margin-top: 32px;
            
            .imgs{
                width: 260px;
            }
  
            .imgD{
                display: contents;

                img{
                    width: 260px;
                }              
            }
        }
    }

}
