.cajaDeProductos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;

        .cajaImgProducto {
            background: rgba(242, 240, 161, 0.5);
            width: 294px;
            height: 294px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 52px;

            .imgCadaProducto {
                width: 60px;
            }

            img {
                width: 120px;
                height: auto;
            }

            .imgProducto {
                width: 60px;
            }
        }

        .tituloProducto{
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.001em;
            color: #000000;
        }

        .precioProducto {
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.0125em;
            color: #000000;
        }

        .btnComprarProducto{
            background: #671E75;
            box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            width: 160px;
            height: 48px;
            border: none;
            margin-top: 32px;
    
            a {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.0125em;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 1024px){
    .cajaDeProductos {
        .productos {
            width: 33%;

            .tituloProducto {
                width: 70%;
            }
        }
    }
    
}
